@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 120px 165px 0 0;
  z-index: 50;
}


.cart-container {
  position: relative;
  width: 377px;
  height: 488px;
  background: white;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  font-family: "Manrope", sans-serif;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cart-header h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.remove-all {
  background: none;
  border: none;
  color: #7d7d7d;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.remove-all:hover {
  color: #d87d4a;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 4px;
  margin-bottom: 24px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 16px;
}

.item-name {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.item-price {
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 4px;
}


.quantity-control {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 8px 12px;
  gap: 12px;
  font-weight: 700;
}

.quantity-control button {
  background: none;
  border: none;
  font-size: 14px;
  color: #7d7d7d;
  cursor: pointer;
  transition: color 0.2s ease;
}

.quantity-control button:hover {
  color: #d87d4a;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.cart-total p {
  margin: 0;
  font-size: 15px;
  color: #7d7d7d;
}

.total-amount {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}


.checkout-btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #d87d4a;
  color: #ffffff;
  border: none;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 8px;
}

.checkout-btn:hover {
  background: #fbaf85;
}
